/* General Styles */
body {
    font-family: Pangea, sans-serif;
    color: #333;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin: 0;
    /* Ensure there is no default margin */
}

.header {
    background-color: #f7f7f7;
    padding: 0 0;
    padding: 20px 0;
    /* Adding padding to increase the header height */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Optional: add shadow for better separation */
    padding: 0;
    text-align: center;
}



.logo-brand img {
    max-width: 100%;
    /* Ensure logo does not exceed header width */
    height: 100px;
    /* Maintain aspect ratio */
    object-fit: cover;
    /* Add hover effect */
    transition: transform 0.3s;
    cursor: pointer;
}

.header ul {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    list-style: none;
    display: flex;

}

.header li {
    margin: 0 10px;
    padding-bottom: 25.5px;
    padding-top: 25.5px;
}

/* Add hover effect to header li */
.header li:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.header ul {
    margin: 0;
}

.header a {
    text-decoration: none;
    color: #333;
}

.search-container {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: flex;
    max-width: 265px;
}

.search-input {
    border: none;
    outline: none;
    font-size: 16px;
    flex-grow: 1;
    margin-right: 10px;
    color: #888;
}

.search-icon {
    cursor: pointer;
    font-size: 20px;
    color: #888;
    margin-right: 5px;
}


.cart {
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: #f7f7f7;
    padding: 12px;

}

.login {
    position: fixed;
    right: 80px;
    top: 20px;
    background-color: #f7f7f7;
    padding: 12px;
}

.cart:hover {
    background-color: white;
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
    transition: transform 0.3s;
}

.login:hover {
    background-color: white;
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
    transition: transform 0.3s;
}

.nav-bar {
    background-color: #f7f7f7;
    overflow: hidden;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    z-index: 1000;
    /* Ensure it is on top of other content */
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-bar{
    background-color: #f7f7f7;
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 25px 0;
    padding-top: 50px;
}

.footer-top {
    padding: 20px 0;
}

.footer-top h4 {
    margin-bottom: 15px;
}

.footer-top ul {
    list-style: none;
    padding-left: 0;
}

.footer-top ul li {
    margin-bottom: 10px;
}

.footer-top ul li a {
    text-decoration: none;
    color: #fff;
}

.icon img {
    margin: 5px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.icon-youtube:hover,
.icon-facebook:hover,
.icon-ig:hover,
.icon-zalo:hover {
    opacity: 0.7;
    transform: scale(1.5);
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.social-links a {
    color: #fff;
    margin-right: 15px;
    font-size: 1.5em;
}

.social-links a:hover {
    color: #ccc;
}